In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('Data_Recommend.xlsx')

In [3]:
data.shape

(14336, 21)

In [5]:
data["Người Bán"] = data["Người Bán"].str.replace(r'\n', '')  # Loại bỏ ký tự xuống dòng # Loại bỏ khoảng trắng ở đầu và cuối chuỗi
data["Người Bán"] = data["Người Bán"] .str.replace(r',', ' ,') 
data["Người Bán"] = data["Người Bán"] .str.replace(r',', '-')  # Thay thế dấu phẩy bằng dấu gạch ngang

In [6]:
data["Người Bán"].unique()

array(['THACO AUTO', 'CÔNG TY TNHH Ô TÔ ISUZU VIỆT NAM',
       'CÔNG TY Ô TÔ TOYOTA VIỆT NAM', ..., 'Mitsubishi ô tô Tiền...',
       'Trường Duy', 'Tường Duy Huy'], dtype=object)

In [11]:
data["Nhiên liệu"].unique()

array(['Xăng', 'Xăng/Dầu', 'Hybrid', 'Dầu', 'Điện', None], dtype=object)

In [8]:
data["Nhiên liệu"] = data["Nhiên liệu"].replace('Điện ', 'Điện')
data["Nhiên liệu"] = data["Nhiên liệu"].replace('Xăng + Điện', 'Hybrid')

In [10]:
data["Nhiên liệu"] = data["Nhiên liệu"].replace('Khác', None)

In [14]:
data["Hộp số"].unique()

array(['Số tự động', 'Số tự động 8 cấp',
       'Số tự động vô cấp (CVT) INVECS III - Sport-mode', 'MT',
       'Số tự động vô cấp E-CVT', 'Số tự động 6 cấp/6AT', 'Số sàn 5 cấp',
       'Số tự động 10 cấp', 'Số tự động 4 cấp',
       'Hộp số tự động 8 cấp - chế độ thể thao', '6MT', 'Hộp số tự động',
       'Hộp số sàn'], dtype=object)

In [13]:
data["Hộp số"] = data["Hộp số"].replace('Tự động', 'Số tự động')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': 'Số tự động vô cấp (CVT) INVECS III - Sport-mode'}", 'Số tự động vô cấp (CVT) INVECS III - Sport-mode')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': 'Số sàn 5 cấp'}", 'Số sàn 5 cấp')
data["Hộp số"] = data["Hộp số"].replace("Số tay 5 cấp", 'Số sàn 5 cấp')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': 'Hộp số tự động 8 cấp - chế độ thể thao'}", 'Hộp số tự động 8 cấp - chế độ thể thao')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': 'Số tự động 4 cấp'}", 'Số tự động 4 cấp')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': '6AT - Sport mode'}", '6AT - Sport mode')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': '6AT'}", '6AT - Sport mode')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': '6MT'}", '6MT')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': 'Số tự động vô cấp (CVT) INVECS III'}", 'Số tự động vô cấp (CVT) INVECS III')
data["Hộp số"] = data["Hộp số"].replace("{'Hộp số': 'Hộp số tự động vô cấp'}", 'Hộp số tự động vô cấp')
data["Hộp số"] = data["Hộp số"].replace("CVT", 'Số tự động vô cấp CVT')
data["Hộp số"] = data["Hộp số"].replace("Vô cấp CVT", 'Số tự động vô cấp CVT')
data["Hộp số"] = data["Hộp số"].replace("Số tự động vô cấp/CVT", 'Số tự động vô cấp CVT')
data["Hộp số"] = data["Hộp số"].replace("Hộp số tự động vô cấp CVT", 'Số tự động vô cấp CVT')
data["Hộp số"] = data["Hộp số"].replace("6AT - Sport mode", 'Số tự động 6 cấp/6AT')
data["Hộp số"] = data["Hộp số"].replace("Số tự động 6 cấp", 'Số tự động 6 cấp/6AT')
data["Hộp số"] = data["Hộp số"].replace("Hộp số tự động 6 cấp", 'Số tự động 6 cấp/6AT')
data["Hộp số"] = data["Hộp số"].replace("Hộp số tự động 8 cấp", 'Số tự động 8 cấp')


data["Hộp số"] = data["Hộp số"].replace('Số tự động vô cấp (CVT) INVECS III', 'Số tự động vô cấp (CVT) INVECS III - Sport-mode')
data["Hộp số"] = data["Hộp số"].replace('Số tự động vô cấp CVT', 'Số tự động vô cấp (CVT) INVECS III - Sport-mode')
data["Hộp số"] = data["Hộp số"].replace('Số tự động vô cấp', 'Số tự động vô cấp (CVT) INVECS III - Sport-mode')
data["Hộp số"] = data["Hộp số"].replace('Hộp số tự động vô cấp', 'Số tự động vô cấp (CVT) INVECS III - Sport-mode')

In [19]:
data["Năm SX"].unique()

array([None, 2023, 2022, 2021, 2020, 2018, 2024, 2016, 2019, 2017, 2013,
       2010, 2009, 2004, 2012, 2014, 2015, 2002, 2007, 2011, 2003, 2008,
       2005, 2006, 1991, 1995, 2001, 2000, 1989, 1997, 1992, 1990, 1998,
       1999, 1994, 1993, 1996], dtype=object)

In [16]:
data["Năm SX"] = data["Năm SX"].fillna(0).astype("int")

In [18]:
data["Năm SX"] = data["Năm SX"].replace(0, None)

In [22]:
data['Kiểu dáng'].unique()

array(['Hatchback', 'Sedan', 'SUV', 'Bán tải', 'MPV', 'Đa dụng',
       'Đa dụng thể thao', nan, 'SUV / Cross over', 'Van',
       'Kiểu dáng khác', 'Coupe', 'Mui trần', 'Van/Minivan', 'Crossover',
       'Convertible/Cabriolet', 'Wagon', 'Sport Car'], dtype=object)

In [21]:
data['Kiểu dáng'] = data['Kiểu dáng'].replace('XE SUV ISUZU', 'MPV')
data['Kiểu dáng'] = data['Kiểu dáng'].replace('Bán tải / Pickup', 'Bán tải')
data['Kiểu dáng'] = data['Kiểu dáng'].replace('XE BÁN TẢI ISUZU', 'Bán tải')
data['Kiểu dáng'] = data['Kiểu dáng'].replace('Coupe (2 cửa)', 'Coupe')
data['Kiểu dáng'] = data['Kiểu dáng'].replace('Minivan (MPV)', 'MPV')
data['Kiểu dáng'] = data['Kiểu dáng'].replace('XE SUV ISUZU', 'MPV')

In [26]:
data["Xuất xứ"].unique()

array(['Lắp ráp trong nước', 'Thái Lan', 'Nhật Bản', 'Indonesia', nan,
       'Mỹ', 'Hàn Quốc', 'Đức', 'Nhập khẩu', 'Ấn Độ', 'Trung Quốc'],
      dtype=object)

In [25]:
# Thay thế các giá trị 
data["Xuất xứ"] = np.where((data["Xuất xứ"] == 'Trong nước') | (data["Xuất xứ"] == 'Việt Nam'), 'Lắp ráp trong nước', data["Xuất xứ"] )
# Thay thế các giá trị 
data["Xuất xứ"] = np.where((data["Xuất xứ"] == 'Nước khác'), 'Nhập khẩu', data["Xuất xứ"])

In [27]:
data["Màu sắc"].unique()

array([nan, 'Nhiều màu', "['Vàng/Đen', 'Đỏ/Đen', 'Đen', 'Trắng']",
       "['Trắng', 'Đen', 'Đỏ', 'Xám', 'Vàng']",
       "['Xám', 'Đen', 'Trắng', 'Đỏ']", "['Đen', 'Trắng', 'Đỏ']",
       "['Cam/Đen', 'Trắng', 'Đen', 'Nâu']",
       "['Trắng', 'Đen', 'Xám Bạc', 'Đỏ']",
       "['Trắng', 'Đen', 'Xám', 'Nâu']", "['Trắng', 'Xám', 'Đỏ']",
       "['Trắng', 'Xám', 'Red']", "['Trắng', 'Xám']",
       "['Đỏ', 'Đen', 'Nâu', 'Xám', 'Trắng']", "['Trắng', 'Đỏ', 'Đen']",
       "['Trắng', 'Nâu', 'Đen']", "['Trắng', 'Cam', 'Đen']",
       "['Trắng', 'Xám', 'Cam', 'Đen']", 'Trắng', 'Đỏ', 'Khác',
       'Xanh Dương', 'Vàng', 'Xám', 'Đen', 'Xanh Lá', 'Bạc', 'Nâu', 'Cam',
       'Nhiều Màu', 'Kem', 'Xanh', 'Màu Khác', 'Ghi', 'Cát', 'Đồng',
       'Tím', 'Hồng'], dtype=object)

In [28]:
data["Kiểu dáng"].unique()

array(['Hatchback', 'Sedan', 'SUV', 'Bán tải', 'MPV', 'Đa dụng',
       'Đa dụng thể thao', nan, 'SUV / Cross over', 'Van',
       'Kiểu dáng khác', 'Coupe', 'Mui trần', 'Van/Minivan', 'Crossover',
       'Convertible/Cabriolet', 'Wagon', 'Sport Car'], dtype=object)

In [37]:
data["Số chỗ ngồi"].unique()

array([5, 4, 7, 6, None, 8, 2, 16, 15, 9, 10, 47, 29, 46, 12, 40],
      dtype=object)

In [32]:
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('05 chỗ', 5)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('5', 5)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('5 chỗ', 5)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('5 Chỗ', 5)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('4', 4)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('7 chỗ', 7)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('7 ghế', 7)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('7', 7)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('6', 6)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('6 ghế', 6)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('6 / 7', 7)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('7 / 8 chỗ', 7)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('6 chỗ', 6)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('8 chỗ', 8)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('05 người', 5)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('5 người', 5)
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace('07 Người', 7)

In [34]:
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].fillna(0).astype("int")

In [36]:
data["Số chỗ ngồi"] = data["Số chỗ ngồi"].replace(0, None)

In [38]:
data

,Tên Xe,Đơn giá,Người Bán,Địa chỉ người bán,Hãng xe,Năm SX,Dòng xe,Phiên bản,Kiểu dáng,Màu sắc,...,Số chỗ ngồi,Xuất xứ,Tỉnh thành,Km đã đi,Hộp số,Nhiên liệu,Link xe,Dung tích,Image_URL,Khoảng giá
0,Morning,"Từ 366,000,000đ",THACO AUTO,"THÔN 4, XÃ TAM HIỆP, HUYỆN NÚI THÀNH, TỈNH QUẢ...",KIA,None,Morning,Morning,Hatchback,NaN,...,5,Lắp ráp trong nước,Quảng Nam,NaN,Số tự động,Xăng,https://kiavietnam.com.vn/chi-tiet-san-pham/mo...,NaN,https://kiavietnam.com.vn/storage/trang-1.png,0 - 500 triệu
1,Kia Morning AT Luxury,"Từ 366,000,000đ",THACO AUTO,"THÔN 4, XÃ TAM HIỆP, HUYỆN NÚI THÀNH, TỈNH QUẢ...",KIA,None,Morning,Kia Morning AT Luxury,Hatchback,NaN,...,5,Lắp ráp trong nước,Quảng Nam,NaN,Số tự động,Xăng,https://kiavietnam.com.vn/chi-tiet-san-pham/mo...,NaN,https://kiavietnam.com.vn/storage/xanh-duong-1...,0 - 500 triệu
2,New Morning,"Từ 349,000,000đ",THACO AUTO,"THÔN 4, XÃ TAM HIỆP, HUYỆN NÚI THÀNH, TỈNH QUẢ...",KIA,None,New Morning,New Morning,Hatchback,NaN,...,5,Lắp ráp trong nước,Quảng Nam,NaN,Số tự động,Xăng,https://kiavietnam.com.vn/chi-tiet-san-pham/ne...,NaN,https://kiavietnam.com.vn/storage/l-newmorning...,0 - 500 triệu
3,New Morning GT-Line,"Từ 424,000,000đ",THACO AUTO,"THÔN 4, XÃ TAM HIỆP, HUYỆN NÚI THÀNH, TỈNH QUẢ...",KIA,None,New Morning,New Morning GT-Line,Hatchback,NaN,...,5,Lắp ráp trong nước,Quảng Nam,NaN,Số tự động,Xăng,https://kiavietnam.com.vn/chi-tiet-san-pham/ne...,NaN,https://kiavietnam.com.vn/storage/new-morning-...,0 - 500 triệu
4,New Morning AT,"Từ 371,000,000đ",THACO AUTO,"THÔN 4, XÃ TAM HIỆP, HUYỆN NÚI THÀNH, TỈNH QUẢ...",KIA,None,New Morning,New Morning AT,Hatchback,NaN,...,5,Lắp ráp trong nước,Quảng Nam,NaN,Số tự động,Xăng,https://kiavietnam.com.vn/chi-tiet-san-pham/ne...,NaN,https://kiavietnam.com.vn/storage/newmorning-d...,0 - 500 triệu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14331,Honda City Sensing 2023 vừa ra mắt tháng 7 này,609000000,Huỳnh Long Phú,Tam Hiệp - Châu Thành - Tiền Giang,HONDA,2023,CITY,NaN,Sedan,Đen,...,5,Lắp ráp trong nước,Tiền Giang,0.0,Hộp số tự động,Xăng,https://xetot.com/tien-giang/ban-xe/honda-city...,NaN,https://xekhachhoahiep.com/imgs/noimage.png,500 triệu - 1 tỷ
14332,𝐗𝐏𝐀𝐍𝐃𝐄𝐑 𝐌𝐓 Số Sàn Màu Trắng Giao Ngay Hổ Trợ T...,210000000,Mitsubishi ô tô Tiền...,Trung An - Mỹ Tho - Tiền Giang,MITSUBISHI,2023,XPANDER,NaN,MPV,Trắng,...,7,Thái Lan,Tiền Giang,0.0,Hộp số sàn,Xăng,https://xetot.com/tien-giang/ban-xe/-so-san-ma...,NaN,https://xekhachhoahiep.com/imgs/noimage.png,0 - 500 triệu
14333,Thật Tiếc Nếu Bỏ Qua Mẫu Xe Honda Crv Chỉ Với ...,998000000,Huỳnh Long Phú,Tam Hiệp - Châu Thành - Tiền Giang,HONDA,2023,CR-V,NaN,SUV / Cross over,Khác,...,7,Lắp ráp trong nước,Tiền Giang,0.0,Hộp số tự động,Xăng,https://xetot.com/tien-giang/ban-xe/that-tiec-...,NaN,https://xekhachhoahiep.com/imgs/noimage.png,500 triệu - 1 tỷ
14334,Xe khách 16 chỗ Hyundai Solati 2023,1100000000,Trường Duy,Trường An - Thành Phố Vĩnh Long - Vĩnh Long,HYUNDAI,2023,SOLATI,NaN,Kiểu dáng khác,Trắng,...,16,Hàn Quốc,Vĩnh Long,0.0,Hộp số sàn,Dầu,https://xetot.com/vinh-long/ban-xe/xe-khach-16...,NaN,https://xekhachhoahiep.com/imgs/noimage.png,1 tỷ - 1.5 tỷ
14335,Honda Ô Tô Vĩnh Phúc Vĩnh Yên,448000000,Tường Duy Huy,Khai Quang - Vĩnh Yên - Vĩnh Phúc,HONDA,2021,BRIO,NaN,Hatchback,Đỏ,...,5,Nhập khẩu,Vĩnh Phúc,0.0,Hộp số tự động,Xăng,https://xetot.com/vinh-phuc/ban-xe/honda-o-to-...,NaN,https://xekhachhoahiep.com/imgs/noimage.png,0 - 500 triệu

In [39]:
data.to_excel("Data_Recommend.xlsx", sheet_name="Danh sách xe", index=False, header=True)

In [2]:
df = pd.read_excel("Data_Recommend.xlsx")

In [3]:
import num2words

In [5]:
Price_in_words = []

In [4]:
df["Đơn giá"] = df["Đơn giá"].fillna("Giá chưa công bố")

In [6]:
for price in df['Đơn giá']:
    if isinstance(price, float) or isinstance(price, int):
        price_in_words = num2words.num2words(price, lang="vi")
        price_in_words = price_in_words.capitalize()
    else:
        price_in_words = price
    Price_in_words.append(price_in_words)

In [7]:
len(Price_in_words)

14336

In [8]:
price_in_words

'Bốn trăm bốn mươi tám triệu'

In [9]:
df.shape

(14336, 21)

In [10]:
for i in range(len(df)):
    df.loc[i, "Giá bằng chữ"] = Price_in_words[i]

In [11]:
df.to_excel("Data_Recommend.xlsx", sheet_name="Danh sách xe", index=False, header=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14336 entries, 0 to 14335
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tên Xe             14336 non-null  object
 1   Đơn giá            14336 non-null  object
 2   Người Bán          14336 non-null  object
 3   Địa chỉ người bán  14296 non-null  object
 4   Hãng xe            14336 non-null  object
 5   Năm SX             14142 non-null  float64
 6   Dòng xe            13826 non-null  object
 7   Phiên bản          3911 non-null   object
 8   Kiểu dáng          14314 non-null  object
 9   Màu sắc            14249 non-null  object
 10  Tình trạng         14336 non-null  object
 11  Số chỗ ngồi        14334 non-null  float64
 12  Xuất xứ            14274 non-null  object
 13  Tỉnh thành         14296 non-null  object
 14  Km đã đi           13616 non-null  float64
 15  Hộp số             14336 non-null  object
 16  Nhiên liệu         14326 non-null  object
 17  Link xe            14336 non-null  object
 18  Dung tích          9426 non-null   object
 19  Image_URL          14336 non-null  object
 20  Khoảng giá         14293 non-null  object
 21  Giá bằng chữ       14336 non-null  object
dtypes: float64(3), object(19)
memory usage: 2.4+ MB

In [15]:
df_Brand = pd.read_excel('data_Hang_Xe.xlsx')

In [16]:
df_Brand.shape

(194, 36)

In [17]:
df_Brand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Tên Xe                       194 non-null    object
 1   Đơn giá                      154 non-null    object
 2   Người Bán                    194 non-null    object
 3   Địa chỉ người bán            154 non-null    object
 4   Hãng xe                      194 non-null    object
 5   Năm SX                       0 non-null      float64
 6   Dòng xe                      194 non-null    object
 7   Phiên bản                    194 non-null    object
 8   Kiểu dáng                    172 non-null    object
 9   Màu sắc                      107 non-null    object
 10  Tình trạng                   194 non-null    object
 11  Số chỗ ngồi                  192 non-null    object
 12  Xuất xứ                      132 non-null    object
 13  Tỉnh thành                   154 non-null    object
 14  Km đã đi                     0 non-null      float64
 15  Hộp số                       194 non-null    object
 16  Nhiên liệu                   194 non-null    object
 17  Phân khúc                    87 non-null     object
 18  Động cơ - Mã lực             96 non-null     object
 19  Kích thước - Trọng lượng     194 non-null    object
 20  Động cơ - Hộp số             192 non-null    object
 21  Khung gầm                    87 non-null     object
 22  Ngoại thất                   194 non-null    object
 23  Nội thất                     194 non-null    object
 24  An toàn                      194 non-null    object
 25  Mức tiêu thụ nhiên liệu      87 non-null     object
 26  Số loại sản phẩm             87 non-null     object
 27  Image_URL                    194 non-null    object
 28  Link xe                      194 non-null    object
 29  Thông tin chung              9 non-null      object
 30  Khung xe                     9 non-null      object
 31  Tiện nghi                    45 non-null     object
 32  Ghế                          34 non-null     object
 33  An ninh                      31 non-null     object
 34  Truyền động - Hệ thống treo  22 non-null     object
 35  Dung tích                    36 non-null     object
dtypes: float64(2), object(34)
memory usage: 54.7+ KB